﻿@model EscuelaNet.Presentacion.Conocimientos.Web.Models.AsesorConocimientoModel
@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-lg-10">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Conocimiento </h3>
                <label class="text-success">@TempData["success"]</label>
                <label class="text-danger">@TempData["error"]</label>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <th style="width: 10px">#</th>
                            <th>Nombre</th>
                            <th>Demanda</th>
                            <th>Acciones</th>
                        </tr>
                        @foreach (var conocimiento in Model.Conocimientos)
                        {
                            <tr>
                                <td>@conocimiento.ID</td>
                                <td>@conocimiento.Nombre</td>
                                <td>@conocimiento.Demanda</td>
                                <td>@conocimiento.ResponsableDeUnidad</td>
                                <td>@conocimiento.Cuit</td>
                                <td>@conocimiento.TelefonoResponsable</td>

                                <td>

                                    <a href="/Asesor/DeleteConocimiento/@conocimiento.ID?asesor=@Model.Asesor.ID" title="Borrar Conocimiento" class="btn btn-toolbar">
                                        <label class="label bg-gray"><i class="fa fa-remove"></i> Borrar Conocimiento </label>
                                    </a>
                                </td>



                            </tr>

                        }
                        <tr>
                            <td colspan="7">
                                <a href="/Asesor/NewConocimiento/@Model.Asesor.ID" title="Agregar nuevo conocimiento" class="btn btn-toolbar">
                                    <label class="label bg-gray"><i class="fa fa-plus"></i> Agregar Conocimiento</label>
                                </a>
                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
            <div class="box-footer clearfix">
                <ul class="pagination pagination-sm no-margin pull-right">
                    <li><a href="#">«</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">»</a></li>
                </ul>
            </div>
        </div>
        <!-- /.box -->
        <!-- /.box -->
    </div>
    <!-- /.col -->
    <!-- /.col -->
</div>

<div>
    @Html.ActionLink("Volver a Solicitudes", "../Solicitudes/Index")
</div>

@section Scripts{
    <script>
    </script>
}
