﻿@model EscuelaNet.Presentacion.Clientes.Web.Models.NuevaUnidadSolicitudModel

@{
    ViewBag.Title = "New";
}

<div class="row">
    <!-- left column -->
    <div class="col-md-6">
        <!-- general form elements -->
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Nueva unidad para la solicitud "@Model.TituloSolicitud"</h3>
                <label class="text-danger">@TempData["error"]</label>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            @using (Html.BeginForm("LinkUnidad", "Solicitudes", new { }, FormMethod.Post, new { role = "form", data_toggle = "validator", @id = "myform" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="box-body">
                    <div class="form-group">
                        @Html.HiddenFor(model => model.IDSolicitud)
                        @Html.HiddenFor(model => model.Unidades)
                        <div class="form-group">
                            @Html.LabelFor(model => model.Unidades, htmlAttributes: new { @class = "control-label col-md-2" })
                            <select name="IDUnidad" class="form-control col-md-2">
                                @foreach (var unidad in Model.Unidades)
                                {
                                    <option value="@unidad.ID">@unidad.ID - @unidad.RazonSocial - @unidad.RazonSocialCliente</option>
                                }
                            </select>
                        </div>
                    </div>

                </div>
                <div class="box-footer">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                    <a href="~/Solicitudes/Unidades/@Model.IDSolicitud" class="btn btn-primary">Cancelar</a>
                </div>

            }
        </div>
        </div>
    </div>


    @section Scripts {
        <script src="~/lib/1000hz-bootstrap-validator/validator.js"></script>
        <script>
            $(document).ready(function () {
                $('#myForm').validator()
            });

        </script>

    }
