﻿@model EscuelaNet.Presentacion.Capacitacion.Web.Models.InstructorIndexModel


@{
    ViewBag.Title = "Index";
}


<div class="row">
    <div class="col-md-8">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Instructores</h3>
                <label class="text-success" align="left">@TempData["success"]</label>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <th style="width: 10px">#</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Dni</th>
                            <th>Fecha Nacimiento</th>
                        </tr>
                        @foreach (var instructor in Model.Instructores)
                        {
                            <tr>
                                <td>@instructor.Id</td>
                                <td>@instructor.Nombre</td>
                                <td>@instructor.Apellido</td>
                                <td>@instructor.Dni</td>
                                <td>@instructor.FechaNacimiento.ToShortDateString()</td>

                                <td>
                                    <a href="/Instructores/Temas/@instructor.Id" title="Temas" class="btn btn-primary">
                                        Temas
                                    </a>
                                    <a href="/Instructores/edit/@instructor.Id" title="Editar" class="btn btn-primary">
                                        Editar
                                    </a>
                                    <a href="/Instructores/delete/@instructor.Id" title="borrar" class="btn btn-danger">
                                        Borrar
                                    </a>
                                </td>
                            </tr>

                        }
                    <tr>
                        <td></td>
                        <td colspan="5">
                            <a href="/Instructores/new" title="Nuevo" class="btn btn-primary">
                                Nuevo
                            </a>
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
            <div class="box-footer clearfix">
                <ul class="pagination pagination-sm no-margin pull-right">
                    <li><a href="#">«</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">»</a></li>
                </ul>
            </div>
        </div>
        <!-- /.box -->
        <!-- /.box -->
    </div>
    <!-- /.col -->
    <!-- /.col -->
</div>

@section Scripts{
    <script>
    </script>
}

